<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GoPass Example</title>
        <meta charset="utf-8">
        <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    </head>

    <body>
        <div class="min-h-screen flex flex-col justify-center py-12 sm:bg-gray-50 sm:px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    GoPass Example
                </h1>
            </div>

            <div
                class="bg-white px-4 py-11 sm:px-10 sm:mt-8 sm:mx-auto sm:w-full sm:max-w-md sm:rounded-lg sm:shadow"
            >
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>
</html>
